# Environment
.env
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
frontend/src/ResultsScreen.jsx

# Data science
.ipynb_checkpoints/
*.egg-info/
dist/
build/
.cache/
.cache

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
